.score-board {
    width: 320px;
    display: grid;
    grid-auto-flow: column;
    margin-top: 20px;
}

.score-board div {
    color: white;
    text-align: center;
    font-size: 2em;
    padding: 5px;
    font-weight: bold;
    background-color: #2626d1;
}

.score-board div:first-child {
    background-color: #e72a15;
}